USE [master]
GO
/****** Object:  Database [TodaysExamDB]    Script Date: 2020/5/27 10:49:18 ******/
CREATE DATABASE [TodaysExamDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TodaysExamDB', FILENAME = N'D:\Sql2012\MSSQL11.MSSQLSERVER\MSSQL\DATA\TodaysExamDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TodaysExamDB_log', FILENAME = N'D:\Sql2012\MSSQL11.MSSQLSERVER\MSSQL\DATA\TodaysExamDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TodaysExamDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TodaysExamDB]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 2020/5/27 10:49:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminID] [int] IDENTITY(100,1) NOT NULL,
	[AdminName] [nvarchar](20) NOT NULL,
	[AdminLoginName] [nvarchar](20) NOT NULL,
	[AdminLoginPwd] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Asnwer]    Script Date: 2020/5/27 10:49:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asnwer](
	[AnswerID] [int] IDENTITY(1,1) NOT NULL,
	[PaperID] [int] NOT NULL,
	[StuID] [int] NOT NULL,
	[TeacherID] [int] NULL,
	[AnswerScore] [int] NULL,
	[AnswerTime] [datetime] NULL,
	[SubmitTime] [datetime] NULL,
	[BatchTime] [datetime] NULL,
	[AnswerState] [int] NOT NULL,
 CONSTRAINT [PK_Asnwer] PRIMARY KEY CLUSTERED 
(
	[AnswerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Detail]    Script Date: 2020/5/27 10:49:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detail](
	[DetailID] [int] IDENTITY(1,1) NOT NULL,
	[AnswerID] [int] NOT NULL,
	[TopicID] [int] NOT NULL,
	[DetailAnswer] [nvarchar](200) NULL,
 CONSTRAINT [PK_Detail] PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Masterfile]    Script Date: 2020/5/27 10:49:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Masterfile](
	[MasterfileID] [int] IDENTITY(1,1) NOT NULL,
	[PaperID] [int] NOT NULL,
	[TopicID] [int] NOT NULL,
 CONSTRAINT [PK_Masterfile] PRIMARY KEY CLUSTERED 
(
	[MasterfileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Paper]    Script Date: 2020/5/27 10:49:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paper](
	[PaperID] [int] IDENTITY(1,1) NOT NULL,
	[PaperName] [nvarchar](20) NOT NULL,
	[PaperExplain] [nvarchar](100) NOT NULL,
	[PaperTime] [int] NOT NULL,
 CONSTRAINT [PK_Paper] PRIMARY KEY CLUSTERED 
(
	[PaperID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Student]    Script Date: 2020/5/27 10:49:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StuID] [int] IDENTITY(300,1) NOT NULL,
	[StuName] [nvarchar](20) NOT NULL,
	[StuLoginName] [nvarchar](20) NOT NULL,
	[StuLoginPwd] [nvarchar](20) NOT NULL,
	[StuSex] [bit] NOT NULL,
	[StuPhone] [nvarchar](20) NULL,
	[StuEmail] [nvarchar](50) NULL,
	[StuGrade] [nvarchar](50) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[StuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 2020/5/27 10:49:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[TeacherID] [int] IDENTITY(200,1) NOT NULL,
	[TeacherName] [nvarchar](20) NOT NULL,
	[TeacherLoginName] [nvarchar](20) NOT NULL,
	[TeacherLoginPwd] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Teacher] PRIMARY KEY CLUSTERED 
(
	[TeacherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Topic]    Script Date: 2020/5/27 10:49:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topic](
	[TopicID] [int] IDENTITY(1,1) NOT NULL,
	[TopicExplain] [nvarchar](200) NOT NULL,
	[TopicScore] [int] NOT NULL,
	[TopicType] [int] NOT NULL,
	[TopicA] [nvarchar](100) NULL,
	[TopicB] [nvarchar](100) NULL,
	[TopicC] [nvarchar](100) NULL,
	[TopicD] [nvarchar](100) NULL,
	[TopicSort] [int] NOT NULL,
	[TopicAnswer] [nvarchar](200) NOT NULL,
	[PaperID] [int] NOT NULL,
 CONSTRAINT [PK_Topic] PRIMARY KEY CLUSTERED 
(
	[TopicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IX_Student]    Script Date: 2020/5/27 10:49:18 ******/
CREATE NONCLUSTERED INDEX [IX_Student] ON [dbo].[Student]
(
	[StuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Asnwer]  WITH CHECK ADD  CONSTRAINT [FK_Asnwer_Paper] FOREIGN KEY([PaperID])
REFERENCES [dbo].[Paper] ([PaperID])
GO
ALTER TABLE [dbo].[Asnwer] CHECK CONSTRAINT [FK_Asnwer_Paper]
GO
ALTER TABLE [dbo].[Asnwer]  WITH CHECK ADD  CONSTRAINT [FK_Asnwer_Student] FOREIGN KEY([StuID])
REFERENCES [dbo].[Student] ([StuID])
GO
ALTER TABLE [dbo].[Asnwer] CHECK CONSTRAINT [FK_Asnwer_Student]
GO
ALTER TABLE [dbo].[Asnwer]  WITH CHECK ADD  CONSTRAINT [FK_Asnwer_Teacher] FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Teacher] ([TeacherID])
GO
ALTER TABLE [dbo].[Asnwer] CHECK CONSTRAINT [FK_Asnwer_Teacher]
GO
ALTER TABLE [dbo].[Detail]  WITH CHECK ADD  CONSTRAINT [FK_Detail_Asnwer] FOREIGN KEY([AnswerID])
REFERENCES [dbo].[Asnwer] ([AnswerID])
GO
ALTER TABLE [dbo].[Detail] CHECK CONSTRAINT [FK_Detail_Asnwer]
GO
ALTER TABLE [dbo].[Detail]  WITH CHECK ADD  CONSTRAINT [FK_Detail_Topic] FOREIGN KEY([TopicID])
REFERENCES [dbo].[Topic] ([TopicID])
GO
ALTER TABLE [dbo].[Detail] CHECK CONSTRAINT [FK_Detail_Topic]
GO
ALTER TABLE [dbo].[Masterfile]  WITH CHECK ADD  CONSTRAINT [FK_Masterfile_Paper] FOREIGN KEY([PaperID])
REFERENCES [dbo].[Paper] ([PaperID])
GO
ALTER TABLE [dbo].[Masterfile] CHECK CONSTRAINT [FK_Masterfile_Paper]
GO
ALTER TABLE [dbo].[Masterfile]  WITH CHECK ADD  CONSTRAINT [FK_Masterfile_Topic] FOREIGN KEY([TopicID])
REFERENCES [dbo].[Topic] ([TopicID])
GO
ALTER TABLE [dbo].[Masterfile] CHECK CONSTRAINT [FK_Masterfile_Topic]
GO
USE [master]
GO
